*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/tools/node-runtime/node_modules
/tools/node-runtime-clean/node_modules
/public/build
/public/hot
/public/storage
/bootstrap/cache/*.php
/database/*.sqlite
/storage/app/private
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
